<div class="footer" id="Contact">
  <div class="footer-main">
    <div class="Information">
      <img
        src="images/svgs/craft-recordings-logo.svg"
        alt="logo of Craft Recodings"
        class="CraftsRec-logo"
      />
      <ul class="Legal-Informations">
        <li class="policies">Privacy Policy</li>
        <li class="policies">Terms</li>
        <li class="policies">Cookie Policy</li>
        <li class="policies">Declaration of Use</li>
        <li class="policies">Accessibility Statement</li>
      </ul>
    </div>
    <div class="Contact">
      <div class="Social-Media">
        <a href="https://www.instagram.com/bluesvillerecords/?hl=en">
          <img
            src="images/svgs/instagram.svg"
            alt="Instagram logo"
            class="Instagram-logo, media-logos"
          />
        </a>
        <a href="https://www.youtube.com/@BluesvilleRecords">
          <img
            src="images/svgs/Youtube.svg"
            alt="Youtube logo"
            class="Youtube-logo, media-logos"
          />
        </a>
        <a href="https://www.facebook.com/bluesvillerecordsofficial/">
          <img
            src="images/svgs/facebook.svg"
            alt="Facebook logo"
            class="Facebook-logo, media-logos"
          />
        </a>
      </div>
      <img
        src="images/svgs/Logo.svg"
        alt="Bluesville logo"
        class="footer-bluesville-logo"
      />
    </div>
  </div>
  <p>©2025 Craft Recording</p>
</div>
