<div class="header">
  <a href="/src/index.html"
    ><img
      src="/src/images/svgs/Logo.svg"
      alt="Bluesville logo"
      class="logo-header"
  /></a>
  <div class="header-content">
    <button class="login">Log In</button>
    <nav class="nav">
      <img src="images/svgs/menu.svg" alt="menu" class="bugermenu" />
      <ul class="nav-content">
        <a href="#News">News</a>
        <a href="#Music">Music</a>
        <a href="#Artists">Artists</a>
        <a href="#Merch">Merch</a>
        <a href="#Aboutus">About us</a>
        <a href="#Contact">Contact</a>
      </ul>
    </nav>
  </div>
</div>
