* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Semi Condensed";
}
body {
  background-color: blueviolet;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #002ca3;
  max-height: 130px;
  padding: 22px 40px;
  justify-content: space-between;
  color: white;

  .logo-header {
    max-width: 76px;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }
  .nav-content {
    display: none;
  }
  .bugermenu {
    display: inline;
    width: 8vw;
    align-items: center;
  }
  .login {
    border-radius: 67px;
    padding: 2px 25px 4px 25px;
    font-size: 16px;
    font-weight: 300;
  }
}
.Banner-Title {
  width: 100vw;
  max-height: 842px;
  padding: 0px 20px;
  background-image: url(/src/images/imgs/banner.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  text-align: end;
  justify-content: flex-end;

  h1 {
    font-family: "Fugaz One";
    font-size: 10vw;
    color: white;
    text-shadow: 1px 0px 0px #002ca3, -1px 0px 0px #002ca3, 0px 1px 0px #002ca3,
      0px -1px 0px #002ca3;
    padding-top: clamp(90px, 28vw, 500px);
  }
}
h2 {
  font-family: "Fugaz One";
  font-size: 3.6vw;
  font-weight: 100;
}
h3 {
  font-family: "Fugaz One";
  font-weight: 100;
  font-size: 7vw;
}
a {
  font-size: 2.5vw;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}
.News-section {
  display: flex;
  flex-direction: row;
  padding: 5vw 7vw 15vw 7vw;
  color: #002ca3;
  background-color: white;
  gap: 8vw;
  align-items: center;
  background-image: url(/src/images/imgs/background-1.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: 0px 51vw;

  .album-cover {
    width: 40vw;
  }
  .texts {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  .album-info {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  .album-artist {
    font-size: 1.7vw;
  }
  .album-title {
    font-size: 2.3vw;
    font-weight: 600;
  }
  .link {
    padding-top: 1vw;
  }
  .chevron-right {
    width: 1vw;
  }
}
.Playlist-section {
  display: flex;
  flex-direction: column;
  padding: 0px 2vw 15vw;
  gap: 4vw;
  text-align: end;
  color: white;
  background-color: white;
  background-image: url(/src/images/imgs/background-1.png);
  background-position: 0px -9vw;
  background-size: 100vw;
  background-repeat: no-repeat;

  .playlists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .playlist {
    width: 31vw;
  }
  .playlist-small {
    width: 23vw;
  }
  .next {
    display: block;
    padding: 2vw 2.5vw;
    border-radius: 67px;
    height: 20vw;

    .chevron-white {
      width: 1.2vw;
      padding-bottom: 2px;
    }
    .chevron-blue {
      display: none;
    }
  }
  .next:hover {
    .chevron-white {
      display: none;
    }
    .chevron-blue {
      display: block;
      width: 1.2vw;
    }
  }
}
.Artist-section {
  display: flex;
  flex-direction: column;
  padding: 0px 5vw 12vw 5vw;
  color: #002ca3;
  background-color: white;
  text-align: end;
  gap: 3vw;
  background-image: url(/src/images/imgs/background-2.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: 0px 97vw;

  .artist-cards {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  .artist-image {
    width: 25vw;
    border: 1.2vw solid black;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 0.2vw #002ca3, 0px 0px 0px 0.7vw black,
      0px 0px 0px 1vw #0043fc, 0px 0px 0px 2.3vw black;
  }
  .artist-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7vw;
  }
  .TracyNelson {
    padding-left: 10vw;
  }
  .artist-info {
    display: flex;
    flex-direction: column;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #002ca3;
  padding: 40px 40px 20px 40px;
  color: white;
  gap: 40px;

  p {
    align-self: center;
  }
  .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Information {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
  .CraftsRec-logo {
    width: clamp(40px, 16vw, 80px);
  }
  .Legal-Informations {
    line-height: clamp(12px, 4vw, 60px);
    list-style: none;
    font-size: clamp(8px, 2.5vw, 40px);
    text-align: center;
  }
  .policies:hover {
    text-decoration: underline 3px;
  }
  .Contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .Social-Media {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .media-logos {
    max-width: 6vw;
  }
  .footer-bluesville-logo {
    max-width: 100px;
  }
}
button {
  display: none;
  background-color: #002ca3;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
button:hover {
  background-color: white;
  color: #002ca3;
}

@media screen and (min-width: 768px) {
  .header {
    .bugermenu {
      width: 6vw;
    }
  }
  .Banner-Title {
    padding: 0px 30px;
    h1 {
      font-size: clamp(10px, 9vw, 80px);
      padding-top: clamp(240px, 30vw, 700px);
      padding-left: 100px;
    }
  }

  .footer {
    padding: 30px 40px 20px 40px;
    gap: 20px;
    .Legal-Informations {
      columns: 2;
      column-gap: 0vw;
      line-height: clamp(12px, 4vw, 60px);
      font-size: clamp(10px, 2.5vw, 40px);
      text-align: start;
    }
    .media-logos {
      max-width: 5vw;
    }
    .footer-bluesville-logo {
      width: 13vw;
      max-width: 138px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-height: 130px;
    padding: 22px 40px;

    .logo-header {
      max-width: 76px;
    }
    .nav-content {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 35px;
      padding-right: 140px;
      font-size: clamp(20px, 3vw, 45px);
    }
    .bugermenu {
      display: none;
    }
    button {
      display: block;
    }
    .login {
      font-size: 1vw;
    }
  }
  .Banner-Title {
    padding: 0px 40px;
    h1 {
      font-size: 80px;
      padding-top: clamp(50px, 47vw, 700px);
      padding-left: 40px;
    }
  }
  .footer {
    padding: 20px 40px;
    .footer-main {
      flex-direction: row;
      justify-content: space-between;
    }
    .Information {
      flex-direction: row;
      gap: 5vw;
      align-items: center;
      margin-right: 10vw;
    }
    .CraftsRec-logo {
      width: 8vw;
      max-width: 129px;
    }
    .Contact {
      flex-direction: row;
      align-items: center;
    }
    .Social-Media {
      flex-direction: column;
      gap: 10px;
    }
    .media-logos {
      width: 4vw;
      max-width: 55px;
    }
    .footer-bluesville-logo {
      width: 10vw;
      max-width: 186px;
    }
  }
}
