* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: black;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #002ca3;
  max-height: 130px;
  padding: 22px 40px;
}
